.hovered {
	display: none;
	transition: all 2s ease-in-out;
	background-color: white;
	margin: 2%;
	padding: 1% 2%;
	color: #cd0000;
	z-index: 5;
	text-align: left;
	border-radius: 5px;
	/* border: solid 2px #cd0000; */
	position: absolute;
	box-shadow: 0 0 1em #cccccc;
}

.imgx {
	width: 100%;
	height: auto;
	transition: ease-in-out all 2s;
}

.imgx:hover + .hovered {
	display: block;
	cursor: pointer;
}

.imgy:hover + .hovered {
	display: block;
	cursor: pointer;
}

a:hover + .hovered {
	display: inline-block;
	cursor: pointer;
}

a.x {
	text-align: center;
}

.imgy {
	width: 50%;
	height: auto;
	transition: ease-in-out all 2s;
	align-items: center;
	justify-self: center;
	justify-items: center;
	margin: auto;
}

.imgy:hover {
	top: -1px;
}

.imgx > img {
	width: 110%;
	height: auto;
	justify-content: center;
	justify-self: center;
	justify-items: center;
	margin: auto;
}
